.cards {
  border: 1px solid white;
  height: auto;
  width: 80%;
  padding: 50px;
  border-radius: 10px;
}
.titleCards {
  font-family: cursive;
  color: white;
  text-decoration: underline white;
  text-underline-position: under;
}
.textCards {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  padding: 5px;
  font-size: 15px;
}
.buttonLinkCards {
    border-radius: 5px;
    font-family: cursive;
  background-color: transparent;
  border: 1px solid #ffffff;
  background-color: transparent;
  height: 50px;
  width: 200px;
  font-size: 1.5em;
  text-decoration-line: none;
  color: white;

}
.buttonLinkCards:hover {
  box-shadow: 1px 0px 10px 1px rgba(177, 177, 177, 0.6);
  color: white;
}
.buttonLinkCards:active {
  box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.6);
  color: white;
}
