
.continuer{
    padding:8% 0 3% 0;
    border-bottom: 2px white solid;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
} 
.nav{
    color: white;
    text-decoration: none;
    padding:0px 20px 0px 20px;
}
.nav:hover {
    background-color: rgb(59, 59, 59);
    color: white;
    border-radius: 50px;}

@media screen and (max-width: 768px) {
    .continuer {
      display:block;
    }

  }